body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
/*  min-height: 100%;*/
  height: 22.5rem;
}

.description-body {
/*  height: 150px;  */
  overflow-y: auto;  
}

.card-body {
  padding-right: 10px;
}

.prod-price{
  color: orange;
  font-weight: 500;

}


